.nav{
    float: left;
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.nav li{
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 80px;
    text-align: center;
    list-style: none;
}